@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";
@font-face {
  font-family: 'MyFont';
  src: url('/fonts/DkCoolCrayon-xJyV.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'Nunito', sans-serif;
}


h1,h2,h3 {
  font-family: 'MyFont', sans-serif;
}@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 5s ease-in-out infinite;
}